ul {
    width: 100%;
    display: flex;
    justify-content: start;
    align-content: start;
    align-items: center;
    flex-wrap: wrap;
    height: 850px;
    margin: 50px auto;
    margin: 50px auto;
    list-style: none;
}

ul li {
    margin: 10px;
    border: 1px solid rgba(128, 128, 128, 0.6);
    padding: 1em;
    width: 30%;
}

.Pagination {
    height: 80px;
    display: flex;
    margin: 0 auto;
    max-width: 400px;
    align-items: center;
}