.flex {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
	background-color: #111;
	padding: 20px;
	
}
.flex-item {
	background-color: royalblue;
	color: #fff;
	padding: 1rem;
	border-radius: 14px;
	flex-grow: 1;
	flex-basis: 20%;
	transition: 0.3s;
	position: relative;
}
.flex-item:hover {
	background-color: #111;
	outline-offset: 0px;
	color: orange;
	scale: 1.05;
	transition: 0.3s;
	cursor: pointer;
    border-color: orange;
}
.flex-item > span {
	position: absolute;
	font-size: 10em;
	font-weight: 700;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0;
	color: #00000077;
}
.flex-item p {
	position: relative;
	z-index: 2;
}
.flex-item:hover span {
	color: rgba(240, 156, 0, 0.533);
	z-index: -1;
}
.flex-item i{
    position: absolute;
    top: 4%;
    right: 4%;
    transition: 0.3s;
}
.flex-item i:hover{
font-size: 20px;
cursor: pointer;
color: red;
}
.divNav{
    text-align: center;
}