$flex-item-color: royalblue;
$un-completed-color: #ff0404;
$completed-color: greenyellow;

@mixin statusButtonRools(){
	width: 16px;
	height: 16px;
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 50%;
}

.flex {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
	background-color: #111;

	&__item {
		flex-basis: 20%;
		padding: 1rem;
		background-color: $flex-item-color;
		border-radius: 10px;
		color: #fff;
		cursor: pointer;
		position: relative;
		transition: 0.3s;
		&:active {
			scale: 0.98;
			transition: 0.3s;
			background-color: rgb(39, 72, 172);
		}
	}

	&__status {
	 @include statusButtonRools();
		&-success {
			background-color: $completed-color;
		}
		&-failure {
			background-color: $un-completed-color;
		}
	}
}